* {
    box-sizing: border-box;
    font-family: "Open Sans";
}

body {
    background: url('img/fonelis.jpg') repeat;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.titulinis-heading {
    width: 100%;
    margin: 25px 0;
    background-color: rgba(250,235,215, 0.7);
    text-align: center;
}

.titulinis-heading h1, a {
    color: grey;
}

.titulinis-heading {
    padding: 25px;
}

.titulinis-list {
    display: flex;
    flex-flow: column wrap; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
    justify-content: flex-start;
    align-items: flex-start;
    height: 150vh;
    /* flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start; */
}

.titulinis-thumbnail {
    background-color: rgba(250,235,215, 0.7);
    text-align: center;
    color: grey;
    box-shadow: 2px 2px 2px grey;
    margin: 10px;
    cursor: pointer;
}

.titulinis-thumbnail img {
    width: 95%;
    max-width: 200px;
    margin: 10px;
}


#visa-nuotrauka {
    position: fixed;
    top: 20%;
    left: 50%;
    width: 25%;
    transform: scale(0.5, 0.5);
    transition: transform 0.8s;
    transition-delay: 0.5s;
    z-index: 2;
}

#visa-nuotrauka:hover {
    transform: scale(2, 2);
}

.visa-nuotrauka-rodoma {
    display: none;
}

.susitraukusi {
    width: 50px;
}

.pavyzdys h2 {
    padding-top: 25px;
}

.dezes {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.stalas-container {
    min-width: 400px;
    min-height: 400px;
    position: relative;
    margin: 40px 15px;
}

.stalas-container img {
    width: 100%;
}

.stalas {
    position: absolute;
    /* min-width: 360px; */
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.95);
}

.deze {
    background-color: rgba(255, 255, 255, 0.3);
}

.stalas, .deze {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.deze {
    align-items: flex-start;
}

.palaidas {
    height: 60px;
    margin: 2px;
    transition: all 0.5s;
}

.palaidas:hover {
    background-color: rgba(250,235,215,0.3);
}

.padetas {
    position: absolute;
    top: -9px;
    left: -9px;
    z-index: 1;
}

.pazymetas.palaidas {
    transform: scale(1.5, 1.5);
}

.pazymetas {
    background-color: rgba(0, 100, 100, 0.07);
}

.langelis {
    border: 1px dotted antiquewhite;
    position: relative;
}

#footer {
    text-align: center;
    margin-top: 150px;
}

.footer-info {
    padding: 25px;
    color: grey;
    background-color: rgba(255, 255, 255, 0.5);
}

.footer-info ul li {
    list-style-type: none;
    display: inline;
    margin: 5px 10px;
}

.info {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
}

.grizti {
    cursor: pointer;
    margin-right: 20px;
}

.intro-info {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 60px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.intro-info h2 {
    text-align: center;
}

select {
    border-radius: 5px;
}

select option {
    background-color: #c2c202;
    color: black;
    font-style: italic;
}

select option:active{
    background-color: brown;
    color: antiquewhite;
}

.input-thumbnail {
    padding: 15px;
    min-width: 220px;
}

.file-upload-button {
    width: 100px;
    height: 30px;
    background-color: antiquewhite;
    color: grey;
}
@media only screen and (max-width: 600px) {

    .container {
        width: 100%;
    }
